cmake-build-debug
.idea
*.exe
.vscode
*.mod
*.log
*.txt
*.vcxproj
*.tlog
*.recipe
*.obj
*.cmake
*.list
*.bin

# CMake build directory
/build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
CMakeOutput.log
CMakeError.log

# Visual Studio
*.sln
*.vcxproj
*.vcxproj.*
*.user
*.filters

# CMake generated stamps
*.stamp
*.rule
*.depend